.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    background-color: rgb(125, 205, 231);
    height: 100%;
    box-shadow: 2px 2px 50px rgba(101, 101, 101, 0.628);
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all 250ms ease;
    opacity: 0;
    h2 {
        padding: 2rem
    }
}
.library-song {
    display: flex;
    align-items: center;
    transition: background .5s ease;
    img {
        width: 30%;
    }
    &:hover {
        background: rgba(109, 136, 146, 0.87);
        cursor: pointer;
    }
    .song-description {
        padding-left: 1rem;
        h3 {
            font-size: .7rem;
        }
    }
}
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) ;
}
*::-webkit-scrollbar {
    width: 5px
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, .5);
    border-radius: 20px;
    border: transparent;
}
.selected {
    background-color: orange;
}
.active-library {
    transform: translateX(0);
    opacity: 1;
}
@media screen and (max-width: 768px){ 
    .library {
        width: 100%;
    }
}