* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    color: rgb(54, 54, 54);
}
body {
    font-family: 'Dosis', sans-serif;
}
h3, h4 {
    font-weight: 500;
    letter-spacing: 1px
}
.App {
    transition: all .5s ease
}
.library-active {
    margin-left: 30%;
}

@import './song'; 
@import './player';
@import './library';
@import './nav';